/* For HTML/CSS diagrams */
.diagram {
	overflow: hidden;
	margin: 1.5em 0;
	text-align: center;
	position: relative;

	.outer-border {
		border: 1px solid silver;
		padding: 1.5% 1.5% 0;
		width: 80%;
		height: 96%;
		position: relative;
		margin: 0 auto;
		text-align: left;
	}

	.row {
		position: relative;
		margin-bottom: 1.5%;
		height: 30%;

		&:before, &:after {
			display: table;
			line-height: 0;
			content: "";
		}

		&:after {
			clear: both;
		}
	}

	.block {
		height: 100%;

		&.span-half {
			width: 49%;
		}
	}

	[class*="span-"] {
		margin-left: 2%;
		float: left;

		&:first-child {
			margin-left: 0%;
		}
	}


	// Block Colours
	.grey {
		background: silver;
	}
	.red {
		background: darkred;
	}

	// Block Outlines
	[class*="outline-"] {
		position: relative;

		&:after {
			content: ' ';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border: 2px dashed black;
		}
	}

	.outline-red:after {
		border-color: darkred;
	}

	// Block Icons
	.icon-forward:before {
		@include transform(rotate(180deg));
		font-size: 400%;
	}
}