@import "compass/css3";
@import "normalize.scss";

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html, button, input, select, textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection, ::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import "fontello.scss";

// Vars
$orange: #E44D26;

body {
	font-family: 'Open Sans', Arial, sans-serif;
}

header {
	background-color: $orange;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	padding: 1em 5% 0.1em;
	box-shadow: inset 0px 0px 0px 10px $orange, inset 0px 10px 0px 10px lighten($orange, 10%);
}

.first-row [class*="span"] {
	background: darkred;
}

.second-row [class*="span"] {
	background: silver;
}

.third-row [class*="span"] {
	background: DarkSlateBlue;
}

#instructional-arrow {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 0.2em 0em 0.2em 0.6em;
	font-weight: bold;
	background: rgba(255,255,255,0.75);
	z-index: 9900;

	.icon-right {
		display: inline-block;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		transform: rotate(45deg);
		color: black;
	}
}

// Diagrams
@import "diagram.scss";

// Grid Generation
$gridColumns: 12;
$fluidGridGutterWidth: 2%;
$fluidGridPadding: 2%;

.row {
	margin-bottom: $fluidGridGutterWidth;

	&:before, &:after {
		display: table;
		line-height: 0;
		content: "";
	}

	&:after {
		clear: both;
	}
}

[class*="span"] {
	width: 100%;
	margin-left: $fluidGridGutterWidth;
	float: left;

	&.pad {
		padding: 0 $fluidGridPadding;
	}

	&.box {
		background: $orange;
	}
}
.row > [class*="span"]:first-child {
	margin-left: 0;
}

@mixin grid-fluid-span-x($gridColumns, $fluidGridGutterWidth) {
	$fluidGridColumnWidth: (100% + $fluidGridGutterWidth) / $gridColumns;
	@while $gridColumns > 0 {
		.span#{$gridColumns} { @include grid-fluid-span($gridColumns, $fluidGridColumnWidth, $fluidGridGutterWidth); }
		.span#{$gridColumns}.pad { @include grid-fluid-span-pad($gridColumns, ($fluidGridColumnWidth), $fluidGridGutterWidth); }
		$gridColumns: $gridColumns - 1;
	}
}

@mixin grid-fluid-span($columns, $fluidGridColumnWidth, $fluidGridGutterWidth) {
	width: ($fluidGridColumnWidth * $columns) - $fluidGridGutterWidth;
}

@mixin grid-fluid-span-pad($columns, $fluidGridColumnWidth, $fluidGridGutterWidth) {
	width: ($fluidGridColumnWidth * $columns) - $fluidGridGutterWidth - ($fluidGridPadding * 2);
}

@include grid-fluid-span-x($gridColumns, $fluidGridGutterWidth);

// Grid Overlay
#overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-bottom: 0;
	z-index: 9000;
	
	[class*="span"] {
		position: relative;
		min-height: 100%;
		background: rgba(11, 77, 161, 0.08);
		display: none;

		&:after {
			content: ' ';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			border: 1px dotted rgba(11, 77, 161, 0.8);
			border-bottom: none;
			border-top: none;
		}
	}
}

#overlay-switch {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9500;
	cursor: pointer;
	width: 24px;
	padding: 18px 18px 14px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transition: all 0.145s ease-out;
	-moz-transition: all 0.145s ease-out;
	-ms-transition: all 0.145s ease-out;
	transition: all 0.145s ease-out;

	&.off {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}
.switch-bar {
	background: black;
	height: 4px;
	margin-bottom: 4px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
  &:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &.focusable {
	&:active, &:focus {
	  clip: auto;
	  height: auto;
	  margin: 0;
	  overflow: visible;
	  position: static;
	  width: auto;
	}
  }
}

.invisible {
  visibility: hidden;
}

.clearfix {
  &:before {
	content: " ";
	display: table;
  }
  &:after {
	content: " ";
	display: table;
	clear: both;
  }
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  * {
	background: transparent !important;
	color: #000 !important;
	/* Black prints faster: h5bp.com/s */
	box-shadow: none !important;
	text-shadow: none !important;
  }
  a {
	text-decoration: underline;
	&:visited {
	  text-decoration: underline;
	}
	&[href]:after {
	  content: " (" attr(href) ")";
	}
  }
  abbr[title]:after {
	content: " (" attr(title) ")";
  }
  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after {
	content: "";
  }
  a {
	&[href^="javascript:"]:after, &[href^="#"]:after {
	  content: "";
	}
  }
  pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
  }
  thead {
	display: table-header-group;
	/* h5bp.com/t */
  }
tr {
	page-break-inside: avoid;
  }
img {
	page-break-inside: avoid;
	max-width: 100% !important;
  }
@page {
	margin: 0.5cm;
  }

p, h2, h3 {
	orphans: 3;
	widows: 3;
  }
h2, h3 {
	page-break-after: avoid;
  }
}